<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.github.textrecognisionsample">

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.TextRecognisionSample"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:targetApi="n">
        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="ocr" />

        <activity
            android:name=".activity.CameraX"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Home"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ShowCoupon"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.EditCoupon"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.Account"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.AccountCreate"
            android:screenOrientation="portrait" />

        <activity android:name=".activity.AccountLogin"
            android:screenOrientation="portrait"/>
    </application>

</manifest>